<tr class="time_report_job signed_report <%= cycle('odd', 'even') %>">
	<td class="title"><%= link_to job.name, project_path(project, :anchor => "job-#{job.id}") %>
	<% id_prefix = 'p' + project.id.to_s + '_j' + job.id.to_s + '_' %>
	<% for day in weekdays do %>
	<td><input class="hours" id="<%= id_prefix + day[0].to_s %>" name="job[<%= job.id %>][<%= day[1] %>]" size="2" type="text" value="<%= ftoi(hours["h_" + day[1]]) %>" readonly="readonly"/></td>
	<% end %>
	<td id="<%= id_prefix + 'total' %>">0</td>
</tr>