<div class="breadcrumbs">Reports &raquo; <%= link_to 'Time reports', hours_path %> &raquo; <%= show_date_range(@year, @week, "short", true) %></div><!-- .breadcrumbs -->
<div class="clear"></div>

<%= title "Report for #{show_date_range(@year, @week, "long", true)}", :h2 %> 

<% if @projects.present? %>
<form method="post" action="<%= request.request_uri %>/saveHours" id="hours_reports">
<div id="percentage_change" class="negative"></div>
<div class="note">* Click any value to edit</div>
<% end %>
<table class="timeReport generic generic_reports">
	<% if @projects.blank? %>
	<tbody>
		<tr class="timeRep_empty"><th colspan="6" >No projects to show this week
	</tbody>
	</table>
	<% else %>  
	<thead>
		<tr class="time_report_days">
			<th class="{sorter: false} project">Project</th>
			<th class="{sorter: false} day">Mon</th>
			<th class="{sorter: false} day">Tue</th>
			<th class="{sorter: false} day">Wed</td>
			<th class="{sorter: false} day">Thu</th>
			<th class="{sorter: false} day">Fri</td>
			<th class="{sorter: false} total_week">Total Week</th>
		</tr>
	</thead>

	<%= token_tag %>

	<% jobs_are_signed = false
	@projects.each do |project|  %>

	<tbody>
		<tr>
			<td colspan="7">
				<table>
				    <%= weekdays = [[1,"mon"],[2,"tue"],[3,"wed"],[4,"thu"],[5,"fri"]]
						render :partial => "project_line", :locals => {:pid => project.id.to_s, :project => project } %>
				    <%  jobs = get_jobs(project)
				        jobs.each do |job| %>
				          <% hours = job.week_hour.find(:first, :conditions => { :year => @year, :week => @week}) 
				             if hours.blank?
				                 hours = job.week_hour.create(:year=>@year,:week=>@week,:h_mon=>0,:h_tue=>0,:h_wed=>0,:h_thu=>0,:h_fri=>0,:signed=>false)
				             end %>
				           <% if hours.signed? 
				                  jobs_are_signed = true %>
				              <%= render :partial => "job_line_signed", 
				                         :locals => { :job => job, :project => project, :hours => hours, :weekdays => weekdays } %>
				           <% else %>
				              <%= render :partial => "job_line", 
				                         :locals => { :job => job, :project => project, :hours => hours, :weekdays => weekdays } %>
				           <% end %>
				    <%  end %>
				</table>
			</td>
		</tr>
	</tbody>

    <% end %>

	<tfoot>
		<tr class="timeRep_footer totals">
			<td>Total Day</td>
			<td id="total_1" class="day">0</td>
			<td id="total_2" class="day">0</td>
			<td id="total_3" class="day">0</td>
			<td id="total_4" class="day">0</td>
			<td id="total_5" class="day">0</td>
			<td id="total_total" class="day">0</td>
		</tr>
	</tfoot>
</table>

<input id="new_total" name="new_total" type="hidden" value="" />
<input id="old_total" name="old_total" type="hidden" value="" />

</form>

<%= javascript_include_tag 'hour_management' %>
<% end %>
<div class="clear"></div>

<div class="navigation">
<% # Don't allow to navigate before your first project start date 
if !start_date.nil? and start_date < Date.commercial(@year,@week, 1) %>
<%= link_to "&laquo; Previous week", url_for_prev_week(@year, @week), :class => "button_previous"  %>
<% end %> 

<% # Don't allow to put future dates
if Date.commercial(@year,@week, 7) < Date.today %>
<%= link_to "Next week &raquo;", url_for_next_week(@year, @week), :class => "button_next" %>
<% end %>
</div><!-- .navigation -->

<% content_for :sidebar do %>
<div id="options">

<h3>Options</h3>
<ul>
<% if jobs_are_signed %>
<li><%= link_to('Signed Report', "#", :class  => "button button_sign_report active" ) %></li>
<% else %>
	<li><%= link_to_remote('Sign Report', :url => { :action => "saveHours" }, :submit => "hours_reports", :script => true, :confirm => "Are you sure you want to sign this report?", :html => { :class  => "button button_sign_report" }) %></li>
	<li><%= link_to_remote('Save Report', :url => { :action => "saveHours", :commit => "Save" }, :submit => "hours_reports", :script => true, :html => { :class  => "button button_save_report" }) %></li>
<% end %>
</ul>

<h3>Previous reports</h3>
<%= render :partial => "previous_reports", :locals => { :week => @week, :year => @year } %>

</div><!-- #options -->
<% end %>