<br />
<br />

<TABLE class="timeReport">
  <thead>
    <TR class="timeRep_dateNav">
      <TH> <% # Don't allow to navigate before your first project start date 
              if start_date < Date.commercial(@year,@week, 1) %>
              <%= link_to "&laquo;", url_for_prev_week(@year, @week), :class => "timeRep_days"  %>
           <% end %> 

      <TH> <%= show_date(@year, @week) %> 

      <TH> <% # Don't allow to put future dates
              if Date.commercial(@year,@week, 7) < Date.today %>
              <%= link_to "&raquo;", url_for_next_week(@year, @week), :class => "timeRep_days" %>
           <% end %>
  </thead>
</table>

<TABLE class="timeReport">
  <thead>
    <TR class="timeRep_days">
      <TH> <TH>Mon <TH>Tue <TH>Wed <TH>Thu <TH>Fri <TH>Total Week
  </thead>
  <tfoot>
    <TR class="timeRep_footer">
      <TH> Total Day
      <TD id="total_1">0
      <TD id="total_2">0
      <TD id="total_3">0
      <TD id="total_4">0
      <TD id="total_5">0
      <TD id="total_total">0  
  </tfoot>
  <form method="post" action="<%= request.request_uri %>/saveHours" >
    <%= token_tag%>
    
    <% @projects.each do |project|  %>
    <tbody>
      <%= render :partial => "project_line", 
                 :locals => {:pid => project.id.to_s, :proj_title => project.name} %>
      <%  jobs = get_jobs(project)
          jobs.each do |job| %>                   
        <%= render :partial => "job_line", 
                   :locals => {:id => job.id.to_s, :pid => project.id.to_s, :job_title => job.name} %>
      <% end %>
    </tbody>
    <% end %>

</TABLE>
<br /><br />

  <input name="commit" type="submit" class="timeRep_button" value="Save & Continue"> 
  <input name="commit" type="submit" class="timeRep_button" value="Sign Report" >
</form>
<%= javascript_include_tag 'hour_management' %>
