<% semantic_form_for @employee do |form| %>
<%= form.semantic_errors :state %>
<div class="note">* Required fields</div>

  <% form.inputs "Employee details" do %>
	<%= form.input :first_name, :as => :string, :input_html => { :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH } %>
	<%= form.input :last_name, :as => :string, :input_html => { :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH } %>
	<%= form.input :email, :as => :string, :input_html => { :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH } %>
	<%= form.input :nif, :as => :string, :input_html => { :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH } %>
	<%= form.input :phone, :as => :string, :required => false, :input_html => { :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH } %>
	<%= form.input :mobile, :as => :string, :required => false, :input_html => { :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH } %>
  <% end %>

  <% form.inputs "Employee type" do %>
	<%= form.input :category, :as => :select, :collection => Category.all, :required => false  %>
	<%= form.input :join_date, :as => :date, :required => false  %>
  <% end %>

  <% form.buttons do %>
    <%= form.commit_button :label => "Save" %> <%= link_to_if(@employee.id.present?, "Cancel", @employee) do link_to("Cancel", employees_path) end %>
  <% end %>

<% end %>