<div class="breadcrumbs"><%= link_to 'Employees', employees_path %> &raquo; <%= link_to @employee.full_name, @employee %> &raquo; Edit details</div>
<div class="clear"></div>

<%= title "Edit details", :h2 %>

<%= render :partial => 'employees/form_employee' %>

<% content_for :sidebar do %>
	<% if @employee.photo.exists? then %>
	<div class="employee_photo">
	<%= image_tag @employee.photo.url(:small) %>
	</div><!-- .employee_photo -->
	<% end %>

    <!-- TODO Add password-change link -->

<div id="options">
<h3>Other options</h3>
<ul>
<li><%= link_to "Change profile picture", "#", :class => "button button_edit_picture " %></li>
<li><%= link_to "Change Password", "#", :class => "button button_edit_password " %></li>
</ul>
</div><!-- #options -->

<% end %>
