<div class="breadcrumbs"><%= link_to_if ((permitted_to? :index, :employees), 'Employees', employees_path) %> &raquo; <%= link_to @employee.full_name, @employee %> &raquo; Edit details</div>
<div class="clear"></div>

<%= title "Edit employee", :h2 %>

<%= render :partial => 'employees/form_employee' %>

<% content_for :sidebar do %>
	<% if @employee.photo.exists? then %>
	<div class="employee_photo">
	<%= image_tag @employee.photo.url(:small) %>
	</div><!-- .employee_photo -->
	<% end %>

    <!-- TODO Add password-change link -->

<div id="options">
<h3>Other options</h3>
<ul>
<% permitted_to? :change_picture, :employees do %>
<li><%= link_to "Change profile picture", change_picture_path(:modal => true), :class => "button button_edit_picture", :rel => "modal" %></li>
<% end %>
<% permitted_to? :change_password, :employees do %>
<li><%= link_to "Change Password", change_password_path(:modal => true), :class => "button button_edit_password", :rel => "modal" %></li>
<% end %>
</ul>
</div><!-- #options -->

<% end %>
