<h2>Listing Employees</h2>

<br />
<div id="result_table">
    <table width="50%">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Mobile</th>
            <th>Jobs</th>
        </tr>
        <thead>  
        <tbody>
        <% @employees.each do |employee| %>
        <tr class="row" onclick='window.location = "<%= url_for employee %>"'>
            <td align="center"><%=h employee.first_name %>     </td>
            <td align="center"><%=h employee.last_name %>      </td>   
            <td align="center"><%=h employee.email %>          </td>
            <td align="center"><%=h employee.phone %>          </td>
            <td align="center"><%=h employee.mobile %>         </td>
            <td align="center"><%=h employee.number_of_jobs %> </td> 
        </tr>
        <% end %>
        </tbody>
    </table>
</div>
<br />
<!--
    TODO Change for a new employee button
-->
<%= link_to 'Create New Employee', new_employee_path %>