<h2>Listing Employees</h2>

<br />
<div id="result_table">
    <table class="generic">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Mobile</th>
            <th>Jobs</th>
        </tr>
        <thead>  
        <tbody>
        <% @employees.each do |employee| %>
        <tr class="<%= cycle('odd', 'even') %>" onclick='window.location = "<%= url_for employee %>"'>
            <td><%= link_to employee.first_name, employee %></td>
            <td><%= link_to employee.last_name, employee %></td>   
            <td><%= mail_to employee.email, employee.email, :encode => "hex" %></td>
            <td><%=h employee.phone %></td>
            <td><%=h employee.mobile %></td>
            <td><%=h employee.number_of_jobs %></td> 
        </tr>
        <% end %>
        </tbody>
    </table>
</div>
<br />
<!--
    TODO Change for a new employee button
-->
<%= link_to 'Create New Employee', new_employee_path %>