<div class="breadcrumbs"><%= link_to 'Employees', employees_path %> &raquo; List</div>
<div class="clear"></div>

<%= title "Employees", :h2 %>

<div id="result_table">
    <table class="generic">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Jobs</th>
            <th class="{sorter: false}">&nbsp;</th>
        </tr>
        <thead>  
        <tbody>
        <% @employees.each do |employee| %>
        <tr class="<%= cycle('odd', 'even') %>">
            <td><%= link_to employee.first_name, employee %></td>
            <td><%= link_to employee.last_name, employee %></td>   
            <td><%= mail_to employee.email, employee.email, :encode => "hex" %></td>
            <td><%=h employee.number_of_jobs %></td> 
			<td class="actions"><span><%= link_to "Edit", edit_employee_path(employee), :class => "button_edit" %> <%= link_to image_tag("icon_delete_small.png"), employee, :confirm => 'Are you sure?', :method => :delete, :class => "button_delete" %></span></td>
        </tr>
        <% end %>
        </tbody>
    </table>
</div>
<br />
<!--
    TODO Change for a new employee button
-->
<%= link_to 'Create New Employee', new_employee_path %>