<div class="breadcrumbs"><%= link_to 'Employees', employees_path %> &raquo; <%=h @employee.full_name %> &raquo; Details</div>
<div class="clear"></div>

<div id="employee_info">

<%= title @employee.full_name, :h2 %>
<p class="meta"><strong>Join Date:</strong> <% if @employee.join_date %><%=h @employee.join_date.to_datetime.to_s(:short_date) %><% else %>Not available<% end %></p>

<dl class="details highlight_box">
	<dt>Email:</dt><dd><%= mail_to @employee.email, @employee.email, :hex => true %>&nbsp;</dd>
	<dt>Phone:</dt><dd><%=h @employee.phone %>&nbsp;</dd>
	<dt>Mobile:</dt><dd><%=h @employee.mobile %>&nbsp;</dd>
	<div class="clear"></div>
</dl>

<div class="employee_type">
<p class="level"><strong>Level:</strong> <% if @employee.category %><%=h @employee.category.name %><% else %>Not available<% end %></p>
<p class="nif"><strong>NIF:</strong> <%=h @employee.nif %></p>
</div><!-- .employee_type -->

</div><!-- #employee_info -->

<div class="clear"></div>

<h4>Jobs</h4>
<%= render :partial => 'jobs/list_job_for_employee', :locals => {:jobs => @jobs} %>

<% content_for :sidebar do %>


<% if @employee.photo.exists? then %>
<div class="employee_photo">
<%= image_tag @employee.photo.url(:small) %>
</div><!-- .employee_photo -->
<% end %>

<div id="options">
<h3>Options</h3>
<ul>
<li><%= link_to 'Edit Details', edit_employee_path(@employee), :class => "button button_edit_profile" %></li>
<li><%= link_to 'Delete employee', @employee, :confirm => 'Are you sure?', :method => :delete, :class => "button button_delete_project" %></li>
</ul>
</div><!-- #options -->
<% end %>