<div class="breadcrumbs"><%= link_to 'Employees', employees_path %> &raquo; <%=h @employee.full_name %> &raquo; Details</div>
<div class="clear"></div>

    <table style="margin-left:50px">
    <tr><td width="100"><p>Level:</p></td><td><p>
        <% if @employee.category %>
            <%=h @employee.category.name %>
        <% else %>
            Not available
        <% end %>
        </p></td>
    </tr>
    <tr><td><p>NIF:</p></td>                <td><p> <%=h @employee.nif %></p></td></tr>
    <tr><td><p>Email:</p></td>              <td><p> <%=h @employee.email %></p></td></tr>
    <tr><td><p>Phone:</p></td>              <td><p> <%=h @employee.phone %></p></td></tr>
    <tr><td><p>Mobile:</p></td>             <td><p> <%=h @employee.mobile %></p></td></tr>
    <tr><td><p>Join Date:</p></td>          <td><p> 
        <% if @employee.join_date %>
            <%=h @employee.join_date.strftime("%d / %B / %Y") %>
        <% else %>
            Not available
        <% end %>
        </p></td></tr>
    </table>

<h4>Jobs</h4>
<%= render :partial => 'jobs/list_job_for_employee', :locals => {:jobs => @jobs} %>

<% content_for :sidebar do %>


<% if @employee.photo.exists? then %>
<div class="employee_photo">
<%= image_tag @employee.photo.url(:small) %>
</div><!-- .employee_photo -->
<% end %>

<div id="options">
<h3>Options</h3>
<ul>
<li><%= link_to 'Edit Details', edit_employee_path(@employee), :class => "button button_edit_profile" %></li>
<li><%= link_to 'Delete employee', @employee, :confirm => 'Are you sure?', :method => :delete, :class => "button button_delete_project" %></li>
</ul>
</div><!-- #options -->
<% end %>