<ul class="mainNav">
    <li <% if menu_active?('employees')%> class="active" <%end%>>
        <%= link_to_unless_current 'employees', :controller => 'employees', :action => 'index' %>
    </li>    
    <li <% if menu_active?('clients')%> class="active" <%end%>>
        <%= link_to_unless_current 'clients', :controller => 'clients', :action => 'index' %>
    </li>
    <li <% if menu_active?('projects')%> class="active" <%end%>>
        <%= link_to_unless_current 'Projects', :controller => 'projects', :action => 'index' %>
    </li>
    <li <% if menu_active?('time_reports')%> class="active" <%end%>>
        <%= #link_to_unless_current 'Reports', :controller => 'timeReports', :action => 'index' 
        %>
        <a href="#">TIME REPORTS</a>
    </li>
    <li <% if menu_active?('expensereports')%> class="active" <%end%>>
        <%= link_to_unless_current 'Expense Reports', :controller => 'expensereports', :action => 'index' %>
    </li>    
    <li <% if menu_active?('categories')%> class="active last" <%end%>>
        <%= link_to_unless_current 'categories', :controller => 'categories', :action => 'index' %>
    </li>
</ul>