<ul class="dropdown">
	<% permitted_to? :index, :projects do %>
    <li <% if menu_active?('projects')%> class="active" <% end %>><%= link_to 'Projects', :controller => 'projects', :action => 'index' %></li>
	<% end %>
	<% if (permitted_to? :index, :week_hours) or (permitted_to? :index, :expensereports) %>
	<li class="dir"><a href="#">Reports</a>
		<ul>
		<% permitted_to? :index, :week_hours do %>
	    <li <% if menu_active?('hours')%> class="active" <% end %>><%= link_to 'Time Reports', hours_path %></li>
		<% end %>
		<% permitted_to? :index, :expensereports do %>
	    <li <% if menu_active?('expensereports')%> class="active" <% end %>><%= link_to 'Expense Reports', :controller => 'expensereports', :action => 'index' %></li>
		<% end %>
		</ul>    
	</li>
	<% end %>
	<% permitted_to? :index, :clients do %>
    <li <% if menu_active?('clients')%> class="active" <% end %>><%= link_to 'Clients', :controller => 'clients', :action => 'index' %></li>
	<% end %>
	<% permitted_to? :index, :employees do %>
	<li class="dir"><a href="#">Employees</a>
		<ul>
		<% permitted_to? :index, :employees do %>
	    <li <% if menu_active?('employees')%> class="active" <% end %>><%= link_to 'Employee List', :controller => 'employees', :action => 'index' %></li>
		<% end %>
		<% permitted_to? :index, :categories do %>
	    <li <% if menu_active?('categories')%> class="active last" <% end %>><%= link_to 'Employee Categories', :controller => 'categories', :action => 'index' %></li>
		<% end %>
		</ul>
	</li>
	<% end %>
</ul>