<% semantic_form_for @job do |form| %>
<%= form.semantic_errors :state %>
<div class="note">* Required fields</div>

  <% form.inputs "Project details" do %>
	<%= form.input :name, :label => "Job name", :as => :string, :input_html => { :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH } %>
	<%= form.input :description, :as => :text, :input_html => { :rows => 6 } %>
	<%= form.input :employee, :as => :select, :collection => @employees %>
  <% end %>

  <% form.buttons do %>
    <%= form.commit_button :label => "Save" %> <%= link_to "Cancel", project_path(@job.project) if @job.project.id.present? %>
  <% end %>

<% end %>