<% if !jobs.nil? %>

<div id="result_table">
    <table class="generic">
        <thead>
        <tr>
            <th class="{sorter: false}">&nbsp;</th>
            <th>Project Name</th>
            <th>Client</th>
            <th>Job Name</th>
        </tr>
        <thead>  
        <tbody>
        <% jobs.each do |job| %>
        <!--
            TODO Cambiar url_for job.project por EDIT JOB
        -->
        <tr class="<%= cycle('odd', 'even') %>">
            <td class="status status_<%= job.project.status.id %>">&nbsp;</td>
            <td><%= link_to job.project.name, job.project %>        </td>
            <td><%= link_to job.project.client.name, job.project.client %> </td>
            <td><%= link_to job.name, job %>                </td>
            <!--
                TODO Cambiar a job.status cuando lo meta en migration
            -->
        </tr>
        <% end %>
        </tbody>
    </table>
</div>
<% end %>