<table class="generic">
    <% if jobs.count == 0 %>
        <tr><td colspan="7" class="message">This project doesn't have any jobs yet<% permitted_to? :create, :jobs do %>, <%= link_to "add a job", new_project_job_path(@project, @job, :anchor => "new_job"), :rel => "modal" %><% end %></td></tr>
    <% else %>
		<thead>
	    <tr>
	        <th class="{sorter: false}">&nbsp;</th>
	        <th>Job Name</th>
	        <th>Employee</th>
	        <th class="hours">Hours</th>
	        <th class="total_billed">Total billed</th>
	        <th class="expenses">Expenses</th>
	        <th class="{sorter: false}">&nbsp;</th>
	    </tr>
		</thead>
        <% jobs.each do |job| %>
        <tr class="<%= cycle('odd', 'even') %>">
            <td class="status status_<%= job.status_id unless job.status_id.blank? %>" title="<%= job.status.name unless job.status_id.blank? %>">&nbsp;</td>
            <td><a name="job-<%= job.id %>"></a><%=h job.name %></td>
            <td><%= link_to job.employee.short_name, job.employee %></td>
            <!--
                TODO Meter aqui el acumulado de los jooobss para horas y pricing
            -->
            <td class="hours"><%=h "#{job.hours}h" if job.hours %></td>
            <td class="total_billed"><%= format_currency(job.total_billed) %></td>
            <td class="expense"><%= format_currency(job.expenses) %></td>
			<td class="actions"><span>
			<%= link_to "Edit", edit_job_path(job), :class => "button_edit", :rel => "tooltip", :title => "Edit this job" if permitted_to? :edit, job %>
			<% permitted_to? :destroy, :jobs do %>
			<%= link_to image_tag("icon_delete_small.png"), job, :confirm => 'Are you sure?', :method => :delete, :class => "button_delete", :rel => "tooltip", :title => "Delete this job" if permitted_to? :destroy, job %>
			<% end %>
			</span></td>
		</tr>
        <% end %>
    <% end %>
</table>

<% unless jobs.blank? %>
<%= render :partial => 'shared/status_legend' %>
<% end %>

<% unless jobs.blank? %>
	<% permitted_to? :manage, @project do %>
		<% link_to(new_project_job_path(@project, @job, :anchor => "new_job"), :class => "grey_button", :rel => "modal") do %><span>New Job</span><% end %>
	<% end %>
<% end %>

<!--
    TODO create a job/view page (with edit and delete)
    
    link_to 'Edit',   edit_job_path(job)
    link_to 'Delete', job, :confirm => 'Are you sure?', :method => :delete
-->