<div class="breadcrumbs"><%= link_to 'Projects', project_path(@job.project) %> &raquo; <%= link_to @job.project.name, @job.project %> &raquo; <%= @job.name %> &raquo; Edit</div><!-- .breadcrumbs -->
<div class="clear"></div>

<%= title "Editing job", :h2 %>

<%= render :partial => 'jobs/form_job', :locals => {:jobs => @job} %>