<% form_for(@client) do |f| %>
    <%= f.error_messages %>
	<div class="form_row">
		<label> Name </label>
        <%= f.text_field :name, :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH %>
	</div>
	<div class="form_row">
		<label> CIF </label>
        <%= f.text_field :cif, :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH %>
	</div>
	<div class="form_row">
		<label> Address</label>
        <%= f.text_field :address, :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH %>
	</div>
	<div class="form_row">
		<label> Fax</label>
        <%= f.text_field :fax, :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH %>
	</div>
	<div class="form_row">
		<label> Phone </label>
        <%= f.text_field :phone, :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH %>
	</div>
	<div class="form_row">
		<label> Mobile Phone</label>
        <%= f.text_field :mobile, :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH %>
	</div>
	<div class="form_row">
		<label> Email</label>
        <%= f.text_field :email, :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH %>
	</div>
	<div class="form_row">
		<label> Website</label>
        <%= f.text_field :website, :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH %>
	</div>
	<div class="form_row">
		<label> Notes</label>
        <%= f.text_area :notes, :cols => TEXT_FIELD_SIZE, :rows => 10 %>
	</div>
	<div class="form_row">
        <%= f.submit 'Save Client' %> &nbsp;
        <input name="cancel" type="submit" value="Cancel" onClick="history.back();return false;">
	</div>
<% end -%>