<h2>Listing clients</h2>
<br />
<div id="result_table">
    <table class="generic">
        <thead>
            <tr>
                <th>Name</th>
                <th>CIF</th>
                <th>Email</th>
                <th>Website</th>
            </tr>
        </thead>
        <tbody>
            <% @clients.each do |client| %>
              <tr class="<%= cycle('odd', 'even') %>" onclick='window.location = "<%= url_for client %>"'>
                <td><%= link_to client.name, client %></td>
                <td><%=h client.cif %></td>
                <td><%= mail_to client.email, client.email, :encode => "hex" %></td>
                <td><%= link_to client.website, client.website, :target => "_blank" %></td>
              </tr>
            <% end %>
        </tbody>
    </table>
</div>
<br />

<%= link_to 'New client', new_client_path %>


