<div class="breadcrumbs"><%= link_to 'Clients', clients_path %> &raquo; <%= @client.name %> &raquo; Details</div><!-- .breadcrumbs -->
<div class="clear"></div>

<%= title @client.name, :h2 %>

<div id="client_info">

<dl class="details">
<dt>CIF:</dt><dd><%=h @client.cif %>&nbsp;</dd>
<dt>Address:</dt><dd><%=h @client.address %>&nbsp;</dd>
<dt>Fax:</dt><dd><%=h @client.fax %>&nbsp;</dd>
<dt>Phone:</dt><dd><%=h @client.phone %>&nbsp;</dd>
<dt>Mobile:</dt><dd><%=h @client.mobile %>&nbsp;</dd>
<dt>Email:</dt><dd><%= mail_to @client.email, @client.email, :hex => true %>&nbsp;</dd>
<dt>Website:</dt><dd><%= link_to @client.website, @client.website %>&nbsp;</dd>
<dt>Notes:</dt><dd><%=simple_format @client.notes %>&nbsp;</dd>
</dl>

</div><!-- #client_info -->

<%= title "Projects", :h2 %>
<%= render :partial => 'projects/list_projects_for_client', :locals => {:projects => @projects} %>

</div><!-- #client_info -->

<% content_for :sidebar do %>
<div id="options">
<h3>Options</h3>
<ul>
<li><%= link_to 'Edit client', edit_client_path(@client), :class => "button button_edit_project" %></li>
<li><%= link_to 'Delete client', @client, :confirm => 'Are you sure?', :method => :delete, :class => "button button_delete_project" %></li>
</ul>
</div>
<% end %>
