<div class="breadcrumbs"><%= link_to 'Clients', clients_path %> &raquo; <%= @client.name %> &raquo; Details</div><!-- .breadcrumbs -->
<div class="clear"></div>

<div id="employee_info">

<%= title @client.name, :h2 %>
<% unless @client.address.blank? %><p class="meta"><strong>Address:</strong> <%=h @client.address %></p><% end %>

<dl class="details highlight_box">
<% unless @client.fax.blank? %><dt>Fax:</dt><dd><%=h @client.fax %>&nbsp;</dd><% end %>
<% unless @client.phone.blank? %><dt>Phone:</dt><dd><%=h @client.phone %>&nbsp;</dd><% end %>
<% unless @client.mobile.blank? %><dt>Mobile:</dt><dd><%=h @client.mobile %>&nbsp;</dd><% end %>
<% unless @client.email.blank? %><dt>Email:</dt><dd><%= mail_to @client.email, @client.email, :hex => true %>&nbsp;</dd><% end %>
<% unless @client.website.blank? %><dt>Website:</dt><dd><%= link_to @client.website, @client.website %>&nbsp;</dd><% end %>
</dl>

<div class="employee_type">
<p class="nif"><strong>CIF:</strong> <%=h @client.cif %></p>
</div><!-- .employee_type -->

<div class="clear"></div>

<% unless @client.notes.blank? %>
<h4>Notes:</h4>
<%=simple_format @client.notes %>
<% end %>

</div><!-- #employee_info -->

<div class="clear"></div>

<h4>Projects</h4>

<%= render :partial => 'projects/list_projects_for_client', :locals => {:projects => @projects} %>

<% content_for :sidebar do %>
	<%= render :partial => 'projects/sidebar_projects_stats', :locals => { :new_project_form => false } %>
	<% permitted_to? :manage, @client do %>
		<div id="options">
			<h3>Options</h3>
			<ul>
				<li><%= link_to 'Edit this client', edit_client_path(@client), :class => "button button_edit_project" if permitted_to? :edit, @client %></li>
				<% permitted_to? :destroy, @client do %>
				<li><%= link_to 'Delete this client', "javascript:;", :class => "button button_delete" %> <span class="confirm"><%= link_to 'Yes', @client, :method => :delete, :class => "yes" %> / <a href="#" class="no">No</a></span></li>
				<% end %>
			</ul>
		</div>
	<% end %>
<% end %>