<h2><%= link_to 'Clients', clients_path %> &raquo; <%= @client.name %> </h2>

<div id="mainContent">	
    <table style="margin-left:50px">
    <tr><td width="100px"><p>CIF:</p></td>  <td><p> <%=h @client.cif %>     </p></td></tr>
    <tr><td><p>Address:</p></td>            <td><p> <%=h @client.address %> </p></td></tr>
    <tr><td><p>Fax:</p></td>                <td><p> <%=h @client.fax %>     </p></td></tr>
    <tr><td><p>Phone:</p></td>              <td><p> <%=h @client.phone %>   </p></td></tr>
    <tr><td><p>Mobile:</p></td>             <td><p> <%=h @client.mobile %>  </p></td></tr>
    <tr><td><p>Email:</p></td>              <td><p> <%=h @client.email %>   </p></td></tr>
    <tr><td><p>Website:</p></td>            <td><p> <%=h @client.website %> </p></td></tr>
    <tr><td><p>Notes:</p></td>              <td><p> <%=h @client.notes %>   </p></td></tr>
    </table>
</div>
<div id="secondaryContent">
        <div class="module">
            <p><strong>Client Options</strong></p>
            <p> <%= link_to 'Edit Client', edit_client_path(@client) %> <br/>
                <%= link_to 'Delete', @client, :confirm => 'Are you sure?', :method => :delete %></p>
        </div>
</div>