<% semantic_form_for @project do |form| %>
<%= form.semantic_errors :state %>
<div class="note">* Required fields</div>

  <% form.inputs "Project details" do %>
	<%= form.input :name, :label => "Project name", :as => :string, :input_html => { :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH } %>
	<%= form.input :description, :as => :text, :input_html => { :rows => 6 } %>
	<%= form.input :partner, :as => :select, :collection => @partners, :prompt => true %>
	<%= form.input :manager, :as => :select, :collection => @managers, :prompt => true %>
	<%= form.input :client, :as => :select, :collection => @clients,   :prompt => true %>
	<%= form.input :status, :as => :select, :collection => @statuses,  :prompt => true %>
	<%= form.input :date_start, :as => :date, :prompt => true %>
	<%= form.input :date_end, :as => :date,   :prompt => true  %>
  <% end %>

  <% form.buttons do %>
    <%= form.commit_button :label => "Save" %> <%= link_to_if(@project.id.present?, "Cancel", @project) do link_to("Cancel", projects_path) end %>
  <% end %>

<% end %>