<h2><%= link_to 'Projects', projects_path %> &raquo; <%= status_name %> </h2>
<br />
<div id="result_table">
    <table width="50%">
        <thead>
        <tr>
            <th>Status</th>
            <th>Name</th>
            <th>Client</th>
            <th>Partner</th>
            <th>Manager</th>
            <th>Jobs</th>
            <th>Acc &euro;</th>
        </tr>
        <thead>  
        <tbody>
        <% if projects.count == 0 %>
            <tr height="100"><td colspan="6" align="center">No projects to show</td></tr>
        <% else %>
            <% projects.each do |project| %>
            <tr class="row" onclick='window.location = "<%= url_for project %>"'>
                <td><%=h project.status.name %>          </td>
                <td><%=h project.name %>                 </td>   
                <td><%=h project.client.name %>          </td>
                <td><%=h project.partner.full_name %>    </td>
                <td><%=h project.manager.full_name %>    </td>
                <td><%=h project.number_of_jobs    %>    </td>
                <td><%=h project.accumulated_expenses %> </td>
            </tr>
            <% end %>
        <% end %>
        </tbody>
    </table>
</div>

<%= link_to 'Create New Project', new_project_path %>
