<table class="generic">
    <% if projects.count == 0 %>
        <tr><td colspan="7" class="message">No projects to show</td></tr>
    <% else %>
		<thead>
	    <tr>
	        <th class="{sorter: false}">&nbsp;</th>
	        <th>Name</th>
	        <th>Client</th>
	        <th>Manager</th>
	        <th class="jobs">Jobs</th>
	        <th class="hours">Hours</th>
		    <th class="total_billed">Total billed</th>
	        <th class="expenses">Expenses &euro;</th>
	    </tr>
	    </thead>  
		<tbody>
        <% projects.each do |project| %>
        <tr class="<%= cycle('odd', 'even') %>">
            <td class="status status_<%= project.status.id %>" title="<%= project.status.name %>">&nbsp;</td>
            <td class="name"><%= link_to project.name, project %></td>   
            <td><%= link_to_if((permitted_to? :show, project.client), project.client.name, project.client) %></td>
            <td>
			<% unless project.manager.blank? %>
				<%= link_to_if((permitted_to? :show, project.manager), project.manager.short_name, project.manager) %>
			<% else %>
				<%= "Unassigned" %>
			<% end %>
			</td>
            <td class="job"><%=h project.number_of_jobs %></td>
            <td class="hours"><%=h project.number_of_hours %></td>
			<td class="total_billed"><%= format_currency(project.total_billed) %></td>
            <td class="expense"><%= number_to_currency(project.accumulated_expenses, :unit => "&euro;", :separator => ",", :delimiter => ".", :format => "%n %u") %></td>
        </tr>
        <% end %>
		<tbody>
    <% end %>
</table>

<% unless projects.blank? %>
<%= render :partial => 'shared/status_legend' %>
<% end %>