<h3>Projects</h3>
<ul>
<% if @status_name == "All" or @status_name.nil? %>
	<li>Total projects: <%= @projects.count %></li>
	<li>Started projects: <%= projects_by_status(@projects, 2).count %></li>
	<li>Not Started projects: <%= projects_by_status(@projects, 1).count %></li>
	<li>Finished projects: <%= projects_by_status(@projects, 3).count %></li>
<% else %>
	<li>Projects: <%= @projects.count %></li>
<% end %>
	<li>Total jobs: <%= @jobs_count = jobs_count_from_projects(@projects) %></li>
	<li>Total hours: <%= total_hours_from_projects(@projects) %></li>
	<li>Total expenses: <%= format_currency(total_expenses_from_projects(@projects)) %></li>
</ul>

<% if new_project_form %>
	<% semantic_form_for Project.new, :html => {:id => "side_form"} do |form| %>
		<%= form.input :name, :label => false, :as => :string, :input_html => { :size => 10, :class => "clear_on_focus", :value => "Project name", :title => "Project name", :maxlength => TEXT_FIELD_MAX_LENGTH } %>
		<button class="button button_new_project"><span>New project</span></button>
	<% end %>
<% end %>