<div class="breadcrumbs"><%= link_to 'Projects', projects_path %> &raquo; <%= link_to @project.name, @project %> &raquo; Edit Project</div>
<div class="clear"></div>

<%= title "Edit project", :h2 %>
<%= render :partial => 'projects/form_project' %>

<% content_for :sidebar do %>
<div id="options">
<h3>Options</h3>
<ul>
<% permitted_to? :show, :projects do %>
<li><%= link_to 'View project details', @project, :class => "button button_view" %></li>
<% end %>
<% permitted_to? :destroy, :projects do %>
<li><%= link_to 'Delete this project', "javascript:;", :class => "button button_delete" %> <span class="confirm"><%= link_to 'Yes', @project, :method => :delete, :class => "yes" %> / <a href="#" class="no">No</a></span></li>
<% end %>
</ul>
</div><!-- #options -->
<% end %>