<div id="project_list">
	<div class="breadcrumbs"><%= link_to 'Projects', projects_path %> &raquo; <%= @status_name %></div><!-- .breadcrumbs -->
	<div class="clear"></div>
	<%= title "#{@status_name} projects", :h2 %>
	<div class="status_selector">
	<% remote_function :url => projects_path(:ajax => true) %>
	<!--
	    TODO Add My projects ==> Project.show(session[:user_id])
	-->
	<% unless @clients.blank? %>
	<select id="show_by_client">
	<%= options_from_collection_for_select(@clients.insert(0,Client.new(:id => 0,:name => "All clients")),:id,:name, params[:client_id].to_i) %>
	</select>
	<%= observe_field 'show_by_client', :url => projects_path(:ajax => true, :status_id => params[:status_id]), :method => "get", :with => 'client_id', :update => :wrapper, :success => "update_tablesort('.generic')" %>
	<% end %>

	<select id="status_selected">
	<%= options_from_collection_for_select(Status.find(:all).insert(0,Status.new(:id => 0,:name => "All Projects")),:id,:name, params[:status_id].to_i) %>
	</select>
	<%= observe_field 'status_selected', :url => projects_path(:ajax => true, :client_id => params[:client_id]), :method => "get", :with => 'status_id', :update => :wrapper, :success => "update_tablesort('.generic')" %>
	</div><!-- .status_selector -->
	<div class="clear"></div>
    <%= render :partial => 'list_projects', :locals => {:projects => @projects, :status_name => @status_name } %>
</div>
<% content_for :sidebar do %>
<%= render :partial => 'sidebar_projects_stats', :locals => { :new_project_form => true } %>
<% end %>