<div class="breadcrumbs"><%= link_to 'Projects', projects_path %> &raquo; <%=h @project.name%></div>
<div class="clear"></div>

<div id="project_info">

<%= title @project.name, :h2 %>
<div class="status status_<%=h @project.status.id %>"><%=h @project.status.name %></div>
<div class="clear"></div>

<dl class="team">
<dt>Client:</dt><dd><%= link_to_if((permitted_to? :show, @project.client), @project.client.name, @project.client) %></dd>
<dt>Partner:</dt><dd><%= link_to_if((permitted_to? :show, @project.partner), @project.partner.full_name, @project.partner) %></dd>
<dt>Manager:</dt><dd><%= link_to_if((permitted_to? :show, @project.manager), @project.manager.full_name, @project.manager) %></dd>
</dl>

<% unless @project.date_start.blank? || @project.date_end.blank? %>
<dl class="dates highlight_box">
<dt>Start Date:</dt><dd><%= @project.date_start.to_datetime.to_s(:full_date) %></dd>
<dt>End Date:</dt><dd><%= @project.date_end.to_datetime.to_s(:full_date) %></dd>
<dt>Total billed:</dt><dd><%= format_currency(@project.total_billed) %></dd>
<% if @project.status_id != 3 %>
<dt>Remaining days:</dt><dd<%= " class=\"late\"" if @project.remaining_days < 0 %>><% if @project.remaining_days < 0 %><%= @project.remaining_days.abs %> days late<% else %><%= @project.remaining_days %> days left<% end %></dd>
<% end %>	
</dl>
<% end %>
<div class="clear"></div>

<% unless @project.description.blank? %>
<div class="description">
<%= simple_format  @project.description %>
</div><!-- .description -->
<% end %>

</div><!-- #project_info -->
<div class="clear"></div>

<% if permitted_to? :manage, @project %>
<% if @project.total_billed > 0 %>
<h4>Time reports</h4>
<%= render :partial => "chart" %>
<div class="clear"></div>
<% end %>
<% end %>

<h4>Jobs</h4>
<%= render :partial => 'jobs/show_jobs', :locals => {:jobs => @jobs, :project => @project} %>

<% content_for :sidebar do %>
	<% if permitted_to? :edit, @project or permitted_to? :destroy, @project %>
		<div id="options">
		<h3>Options</h3>
		<ul>
			<li><%= link_to 'Edit project details', edit_project_path(@project), :class => "button button_edit_project" if permitted_to? :edit, @project %></li>
			<% permitted_to? :destroy, @project do %>
			<li><%= link_to 'Delete this project', "javascript:;", :class => "button button_delete" %> <span class="confirm"><%= link_to 'Yes', @project, :method => :delete, :class => "yes" %> / <a href="#" class="no">No</a></span></li>
			<% end %>
		</ul>
		</div><!-- #options -->
	<% end %>
<% end %>