<% form_for(@expensereport) do |f| %>
  <%= f.error_messages %>

  <div class="form_row">
    <label> Project</label>
        <%= f.select "project_id", options_from_collection_for_select(@projects, "id", "name") %>
  </div>

  <div class="form_row">
    <label> Job Name</label>
        <%= f.select "job_id", options_from_collection_for_select(@jobs, "id", "name") %>
  </div>

  <div class="form_row">
    <label> Amount (&euro;)</label>
        <%= f.text_field :amount, :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH %> 
  </div>

  <div class="form_row">
    <label> Date</label>
        <%= date_select("expensereport", "expenseDate") %>
  </div>
  
  <div class="form_row">
        <% if @current_action == "new" %>
            <%= f.submit 'Create New Expense' %>
        <% else %>
            <%= f.submit 'Update Expense' %>
        <% end %>
  </div>
<% end %>

<%= link_to 'Back', expensereports_path %>