<h2>Expense Reports</h2>
<br />
<div id="result_table">
    <table class="generic">
        <thead>
        <tr>
          <th>Project</th>
          <th>Job</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
        <thead>  
        <tbody>
          <% if @expensereports.count == 0 %>
              <tr height="30"><td colspan="5" align="center">You have no expense reports yet</td></tr>
          <% else %>
              <% @expensereports.each do |exrep| %>
                <tr class="<%= cycle('odd', 'even') %>" onclick='window.location = "<%= url_for :controller => 'expensereports', :action => 'edit', :id => exrep.id %>"'>
                  <td><%=h Project.find(exrep.project_id).name %></td>
                  <td><%=h Job.find(exrep.job_id).name %></td>
                  <td><%= number_to_currency(exrep.amount, :unit => "&euro;", :separator => ",", :delimiter => ".", :format => "%n %u") %> </td>
                  <td><%=h exrep.expenseDate %></td>
                  <td><%= link_to 'Delete', exrep, :confirm => 'Are you sure?', :method => :delete %></td>
                </tr>
              <% end %>
          <% end %>
        </tbody>
    </table>
</div>
<br />

<%= link_to 'New expensereport', new_expensereport_path %>