<h2>Expense Reports</h2>
<br />
<div id="result_table">
    <table width="50%">
        <thead>
        <tr>
          <th>Project</th>
          <th>Job</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
        <thead>  
        <tbody>
          <% @expensereports.each do |exrep| %>
            <tr class="row" onclick='window.location = "<%= url_for :controller => 'expensereports', :action => 'edit', :id => exrep.id %>"'>
              <td><%=h Project.find(exrep.project_id).name %></td>
              <td><%=h Job.find(exrep.job_id).name %></td>
              <td><%= number_to_currency(exrep.amount, :unit => "&euro;", :precision => 0) %> </td>
              <td><%=h exrep.expenseDate %></td>
              <td><%= link_to 'Delete', exrep, :confirm => 'Are you sure?', :method => :delete %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>
<br />

<%= link_to 'New expensereport', new_expensereport_path %>