<div class="breadcrumbs"><%= link_to 'Reports', "#" %> &raquo; Expense Reports</div>
<div class="clear"></div>

<%= title "Expense Reports", :h2 %>

<table class="generic">
	<thead>
		<tr>
			<th>Project</th>
			<th>Job</th>
			<th>Amount</th>
			<th>Date</th>
			<th class="{sorter: false}">&nbsp;</th>
		</tr>
	<thead>  
	<tbody>
		<% if @expensereports.count == 0 %>
		<tr height="30"><td colspan="5" align="center">You have no expense reports yet</td></tr>
			<% else %>
			<% @expensereports.each do |exrep| %>
			<tr class="<%= cycle('odd', 'even') %>">
				<td><%= link_to exrep.project.name, exrep.project %></td>
				<td><%= link_to exrep.job.name,  project_path(exrep.project, :anchor => "job-#{exrep.job_id}") %></td>
				<td><%= number_to_currency(exrep.amount, :unit => "&euro;", :separator => ",", :delimiter => ".", :format => "%n %u") %> </td>
				<td><%=h exrep.expenseDate %></td>
				<td class="actions"><span><%= link_to "Edit", edit_expensereport_path(exrep), :class => "button_edit" %> <%= link_to image_tag("icon_delete_small.png"), exrep, :confirm => 'Are you sure?', :method => :delete, :class => "button_delete" %></span></td>
		</tr>
		<% end %>
		<% end %>
	</tbody>
</table>

<p><%= link_to 'New Expense Report', new_expensereport_path %></p>