<div class="breadcrumbs"><%= link_to 'Reports', "#" %> &raquo; <%= link_to "Expense Reports", expensereports_path %> &raquo; <%= "#{Date::MONTHNAMES[params[:month].to_i]} #{params[:year].to_i}" %></div>
<div class="clear"></div>

<%= title "Expense Report for #{Date::MONTHNAMES[params[:month].to_i]} #{params[:year].to_i}", :h2 %>

<script type="text/javascript">

	var chart;
	$(document).ready(function() {
		chart = new Highcharts.Chart({
			credits: {
				enabled:false
			},
			chart: {
				renderTo: 'container',
				defaultSeriesType: 'line',
				marginRight: 20,
				marginBottom: 80
			},
			title: {
				text: false
			},
			xAxis: {
				title: {
					text: 'Days of the month'
				}
			},
			yAxis: {
				title: {
					text: 'Euros per day'
				},
				plotLines: [{
					value: 0,
					width: 1,
					color: '#808080'
				}]
			},
			tooltip: {
				formatter: function() {
		                return '<b>'+ this.series.name +'</b><br/>'+
						this.x +'/<%= params[:month] %>/<%= params[:year] %> : '+ this.y + ' €';
				}
			},
			legend: {
				layout: 'horizontal',
				align: 'center',
				verticalAlign: 'bottom',
				x: 0,
				y: 0,
				borderWidth: 0
			},
			series: [
			<% unless @projects.blank? %>
				<% for project in @projects %>
					{ name: "<%= project.name %>", data: <%= expense_chart(@start_date, @end_date, session[:user_id], project.id)	%> }<% unless project == @projects.last %>,<% end %>
				<% end %>
			<% end %>
			]
		});
		
		
	});
		
</script>

<div id="container" class="expense_reports_graph"></div>

<table class="generic">
		<% if @expensereports.blank? %>
		<tr height="30"><td colspan="5" class="message">You haven't created a expense report yet, <%= link_to "create a report", new_expensereport_path %></td></tr>
		<% else %>
		<thead>
			<tr>
				<th>Project</th>
				<th>Job</th>
				<th>Amount</th>
				<th>Date</th>
				<th class="{sorter: false}">&nbsp;</th>
			</tr>
		<thead>
		<tbody>
		<% for exrep in @expensereports do %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td><%= link_to exrep.project.name, exrep.project %></td>
			<td><%= link_to exrep.job.name,  project_path(exrep.project, :anchor => "job-#{exrep.job_id}") %></td>
			<td><%= number_to_currency(exrep.amount, :unit => "&euro;", :separator => ",", :delimiter => ".", :format => "%n %u") %> </td>
			<td><%=h exrep.expense_date %></td>
			<td class="actions"><span><%= link_to "Edit", edit_expensereport_path(exrep), :class => "button_edit", :rel => "tooltip", :title => "Edit this expense report" %> <%= link_to image_tag("icon_delete_small.png"), exrep, :confirm => 'Are you sure?', :method => :delete, :class => "button_delete", :rel => "tooltip", :title => "Delete this expense report" %></span></td>
		</tr>
		<% end %>
		<% end %>
		</tbody>
</table>

<% content_for :sidebar do %>

<h3>Reports</h3>
<ul>
<li>Total expense reports: <%= @expensereports_all.count %></li>
<li>Total on <%= "#{Date::MONTHNAMES[params[:month].to_i]} #{params[:year].to_i}" %>: <%= @expensereports.count %></li>
<% unless @projects.blank? %><li>Total projects: <%= @projects.count %></li><% end %>
</ul>

<h3>By month</h3>

<form>
<select name="date_select" id="date_select" class="jump_menu">
<% for date in month_list(@expensereports_all.first.expense_date.to_date,Time.now) do %>
<option value="<%= expense_report_by_date_path(:month => date[:month], :year => date[:year]) %>"<% if params[:month].to_i == date[:month] && params[:year].to_i == date[:year] %> selected="selected"<% end %>><%= "#{Date::MONTHNAMES[date[:month]]} #{date[:year]}" %></option>
<% end %>
</select>
</form>

<% link_to(new_expensereport_path, :class => "grey_button") do %><span>New Expense Report</span><% end %>

<% end %>