<div class="breadcrumbs"><%= link_to 'Reports', "#" %> 
&raquo; <%= link_to "Expense Reports", expensereports_path %> 
<% if @employee.present? %>&raquo; <%= link_to @employee.full_name, expense_report_by_employee_path(:month => @month, :year => @year, :employee_id => @employee.id) %><% end %>
&raquo; <%= link_to "#{Date::MONTHNAMES[@month.to_i]} #{@year.to_i}", expense_report_by_date_path(:month => @month, :year => @year) if @category.id.present? && @employee.blank? %>
<%= link_to "#{Date::MONTHNAMES[@month.to_i]} #{@year.to_i}", expense_report_by_employee_path(:month => @month, :year => @year, :employee_id => @employee.id) if @category.id.present? && @employee.present? %>
<%= "#{Date::MONTHNAMES[@month.to_i]} #{@year.to_i}" if @category.id.blank? && @employee.blank? %>
<% if @category.id.present? %>&raquo; <%= @category.name %><% end %>
</div>
<div class="clear"></div>

<%=
if @employee
	title "Expense Report for #{@employee.full_name} — #{Date::MONTHNAMES[@month.to_i]} #{@year.to_i}", :h2
else
	title "Expense Report — #{Date::MONTHNAMES[@month.to_i]} #{@year.to_i}", :h2
end
%>

<%= render :partial => "chart" %>

<table class="generic">
	<% if @expensereports.blank? %>
	<tr height="30">
		<td colspan="5" class="message">

		<% if @employee.present? && @employee == session[:employee_id] %>
			You haven't created a expense report yet, <%= link_to "create a report", new_expensereport_path %>
		<% else %>
			This user haven't created an expense report

			<% if @projects && @projects.count > 0 && @category.id.blank? %>
			 	on <%= Date::MONTHNAMES[@month.to_i] %>
			<% end %>
			<% if @projects && @projects.count > 0 && !@category.id.blank? %>
				for '<%= @category.name %>'
			<% end %>

		<% end %>

		</td>
	</tr>
	<% else %>
	<thead>
		<tr>
			<th>Project</th>
			<th>Job</th>
			<% unless @category.id %><th>Category</th><% end %>
			<th>Amount</th>
			<th>Date</th>
			<th class="{sorter: false}">&nbsp;</th>
		</tr>
	<thead>
	<tbody>
	<% for exrep in @expensereports do %>
	<tr class="<%= cycle('odd', 'even') %>">
		<td><%= link_to exrep.project.name, exrep.project %></td>
		<td><%= link_to exrep.job.name,  project_path(exrep.project, :anchor => "job-#{exrep.job_id}") %></td>
		<% unless @category.id %><td><%=h exrep.expense_category.name unless exrep.expense_category.blank? %></td><% end %>
		<td><%= number_to_currency(exrep.amount, :unit => "&euro;", :separator => ",", :delimiter => ".", :format => "%n %u") %> </td>
		<td><%=h exrep.expense_date %></td>
		<td class="actions"><span><%= link_to "Edit", edit_expensereport_path(exrep), :class => "button_edit", :rel => "tooltip", :title => "Edit this expense report" if permitted_to? :edit, exrep %> <%= link_to image_tag("icon_delete_small.png"), exrep, :confirm => 'Are you sure?', :method => :delete, :class => "button_delete", :rel => "tooltip", :title => "Delete this expense report" if permitted_to? :destroy, exrep %></span></td>
	</tr>
	<% end %>
	<% end %>
	</tbody>
</table>

<% content_for :sidebar do %>

<% if @expensereports_all %>
<h3>Reports</h3>
<ul>
	<li>Total expense reports: <%= @expensereports_all.count %></li>
	<% unless @expensereports_all.blank? %><li>On this month: <%= @expensereports.count %></li><% end %>
	<% unless @projects.blank? %><li>Total projects: <%= @projects.count %></li><% end %>
</ul>

<% end %>

<%= render :partial => "filters" %>

<% permitted_to? :new, :expensereports do %>
<% link_to(new_expensereport_path, :class => "grey_button") do %><span>New Expense Report</span><% end %>
<% end %>

<% end %>