<h2>Listing Categories</h2>

<div id="result_table">
    <table class="generic">
        <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>Hour fee</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <% @categories.each do |category| %>
              <tr class="<%= cycle('odd', 'even') %>">
                <td><%= link_to category.name, :action => :edit, :id => category %></td>
                <td><%=h category.level %></td>
                <td><%=h category.hour_fee %></td>
                <td><%= link_to 'Delete', category, :confirm => "Are you sure you want to delete category #{category.name}?", :method => :delete %></td>
              </tr>
            <% end %>
        </tbody>
    </table>
</div>

<%= link_to 'New category', new_category_path %>
