<div class="breadcrumbs"><%= link_to 'Categories', categories_path %> &raquo; List</div><!-- .breadcrumbs -->
<div class="clear"></div>

<%= title "Categories", :h2 %>

<table class="generic">
	<thead>
		<tr>
		<th>Name</th>
		<th>Level</th>
		<th>Hour fee</th>
		<th class="{sorter: false}">&nbsp;</th>
	</tr>
</thead>
	<tbody>
		<% @categories.each do |category| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td><%= link_to category.name, :action => :edit, :id => category %></td>
			<td><%=h category.level %></td>
			<td><%= number_to_currency(category.hour_fee, :unit => "&euro;", :separator => ",", :delimiter => ".", :format => "%n %u") %></td>
			<td class="actions"><span><%= link_to "Edit", edit_category_path(category), :class => "button_edit", :rel => "tipsy", :title => "Edit this category" %> <%= link_to image_tag("icon_delete_small.png"), category, :confirm => 'Are you sure?', :method => :delete, :class => "button_delete", :rel => "tipsy", :title => "Delete this category" %></span></td>
		</tr>
		<% end %>
	</tbody>
</table>

<p><%= link_to 'New category', new_category_path %></p>