<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" language="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= "[Intranet SHP] #{@title}"%></title>
    <%= stylesheet_link_tag "reset", "960", "text", "styles" %>
    <%= javascript_include_tag "jquery-1.4.3.min", "application", "dropdown", "hour_management", "jquery.tablesorter.min", "jquery.metadata" %>
	<%  #if RAILS_ENV=='production'   
	        #Codigo Especifico para entorno de producccion, p.ej. Analytics       
	    #end 
    %>
</head>
<body>

<div class="container_24">
	<div id="header">
	<div class="grid_9">
		<h1><% link_to(root_path) do %><span>[Intranet SHP]</span><% end %></h1>
	</div>

	<div class="grid_15">

	<div id="user_nav">
        <% if is_user_logged? %>
		<ul>
            <li><span>Hi </span></li>
            <li><%= link_to_unless_current "#{session[:user_name]}" , :controller => 'user', :action => 'view' %></li>
            <li><%= link_to 'logout', :controller => 'site', :action => 'logout' %></li>
		</ul>
        <% end %>
	</div><!-- #user_nav -->
	<div class="clear"></div>

	<div id="main_nav">
	    <%= render :partial => 'intranet/menu'  %>
	</div><!-- #main_nav -->
	</div>
	<div class="clear"></div>
	</div><!-- #header -->

	<div id="content_top"></div>

	<div id="content">
	<div id="wrapper">
    	<% if flash[:notice] -%>
    	   <div id="notice"><%= flash[:notice] %></div>					
    	<% end -%>
    	<% if flash[:error] -%>
    	   <div id="error"><%= flash[:error] %></div>
    	<% end -%>				

		<div class="grid_18">
			<%= yield %>
		</div>
		<div class="grid_6">
			sidebar
		</div>
		<div class="clear"></div>

	</div><!-- #wrapper -->
	</div><!-- #content -->

	<div id="footer">
		<div class="grid_12">
			<div class="copyright"><%= Time.now.to_date.year %> <%= '&copy; Wadomo' %></div>
		</div>
		<div class="grid_12">
		</div>
		<div class="clear"></div>
	</div><!-- #footer -->

</div><!-- .container_24 -->

<%  #if RAILS_ENV !='production'   
        #Codigo para otro entorno que producccion, p.ej. snapABug
    #end 
%>

<script type="text/javascript">
document.write(unescape("%3Cscript src='" + ((document.location.protocol=="https:")?"https:":"http:") + "//snapabug.appspot.com/snapabug.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">
SnapABug.addButton('762f200f-1116-4f8b-8b50-9f7248a80f8f',"1","45%");
</script>
</body>
</html>